<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% if (msg=="OK"){ %>
	<h2>Registro Añadido</h2>
	<%}else if(msg="KO"){%>
	<h2>ERROR: No se puede insertar</h2>

<%}else{%>
<h2>ERROR: <%=msg %></h2>
<%}%>


</body>
</html>